@charset "utf-8";
@import "compass/css3";
@import 'xt_mixin';

/* =============================
   模块名：浏览器重置
   说  明：移动端浏览器重置样式
   ============================= */

body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, form, fieldset, legend, input, select, textarea, button, th, td, menu {
    margin: 2;
    padding: 0;
    // -webkit-tap-highlight-color: rgba(0,174,255,0.4);
}

article {
    margin: 0;
    padding: 0;
    display: block;
}

aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button, label {
    font-size: 100%;
    font-weight: 100;
    vertical-align: middle;
}

ul, dl, ol {
    list-style: none;
}

img, fieldset, input[type="submit"] {
    border: none;
}


/*input{outline:none;background:transparent;vertical-align:top;}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
    border: none;
}

textarea {
    word-wrap: break-word;
    resize: none;
}


/* 去除IE下拉菜单箭头 */

select::-ms-expand {
    display: none;
}


/* 去除IE下radio、checkbox默认样式 */

::-ms-check {
    display: none;
}


/* 去除输入框、文本域默认边框和IOS4下的内阴影 */


/*input, textarea, select{-webkit-appearance:none;border:none;outline:none;}*/


/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */

input:-moz-placeholder {
    color: #C4C4C4;
}


/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */

::-webkit-input-placeholder {
    color: #C4C4C4;
}

body {
    // font-family: "Helvetica";
    -webkit-user-select: none;
    /* 禁止选中文本 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 设置点击链接时遮罩层为全透明 */
    overflow-x: hidden;
    min-height: 100%;
}


/* 设置webkit内核下文字大小不小于12px */

html, body {
    -webkit-text-size-adjust: none;
    min-height: 100%
}


/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */

a, button, input {
    -webkit-touch-callout: none;
}

a, .btn {
    text-decoration: none;
    color: inherit;
    outline: none !important;
    -webkit-touch-callout: none;
    &:visited {
        text-decoration: none;
        color: inherit;
        outline: none !important;
        -webkit-touch-callout: none;
    }
    &:focus, &:hover {
        color: inherit !important;
        text-decoration: none !important;
    }
}

body {
    background-color: #fff;
    color: #525252;
    font-size: 15px;
    font-family: 微软雅黑, 方正兰亭纤黑简体, Helvetica, Arial, sans-serif;
}

body h3, body p, body span {
    color: rgba(0, 0, 0, .6);
    font-family: 微软雅黑, 方正兰亭纤黑简体, Helvetica, Arial, sans-serif;
}

body {
    em, i {
        font-style: normal;
    }
}

a {
    text-decoration: none;
    color: inherit;
    outline: none !important;
    -webkit-touch-callout: none;
    &:visited {
        text-decoration: none;
        color: inherit;
        outline: none !important;
        -webkit-touch-callout: none;
    }
}

* img {
    width: 100%;
}

dl {
    margin-bottom: 0;
}

* a {
    display: block;
}

.form-control:focus {
    border-color: #2fcc71 !important;
}

.page_full {
    padding: 0 !important;
}

.bgw {
    background-color: transparent !important;
}

.mhome, .vmport {
    padding: 0;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}

.vwport {
    padding: 0 5px;
}

.lumpBox {
    background-color: #fff;
    padding: 10px 15px;
    margin: 7px 0 0 0;
}

.bt-size {
    width: 80%;
}


/* padding margining */

.pDefault {
    padding: 10px 15px;
}

.mt10 {
    margin-bottom: 10px;
}

@each $pd, $padding in(p0:0, p05:0 5px, p10:0 10px, p15:0 15px, plt10:10px 0, plt15:15px 0) {
    .#{$pd} {
        padding: $padding;
    }
}


/*genneral*/

.container {
    max-width: 640px;
    color: #fff;
}

.cjBox {
    position: relative;
    margin-bottom: 45px;
    left: 100%;
}

.ptl {
    padding-top: 200px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.coffee_theme-linear {
    background-image: linear-gradient(to right, #ddad7a 0, #fde4b2 50%, #deae7c 100%);
    background-image: -webkit-linear-gradient(left, #ddad7a 0, #fde4b2 50%, #deae7c 100%);
    border-color: #EFBF8D;
}


/* btn */

$themeColor:#2fcc71;
.btn-original {
    background-color: $themeColor;
    color: #fff;
    opacity: .6;
    a {
        color: #fff;
        &:hover, &:focus, &:visited, &:active {
            color: #fff !important;
        }
    }
    // &:hover,&:focus{
    //     opacity:.6;
    // }
}

.btn-outline {
    border: 1px solid lighten($themeColor, 10%);
}

.btn-inline {
    display: inline-block;
}


/* card */

.login-header {
    background: url(../images/member/card/login_header_bg_01.jpg);
    background-size: 100% 100%;
    .card-header {
        dt {
            // padding: 25px;
        }
    }
}

.tips-info {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 15px;
}

.tips-title{
    margin-top:30px;
}

.form-box {
    padding: 15px 0;
    color: #fff;

    input {
        width: 100%;
        border-radius: 0;
        margin: 10px 0;
        position:relative;
    }
    .cur:after{
        content:'';
        position:absolute;
        right:0;
        width:20px;
        height:20px;
        background-color: red;
    }
    .clear-icon{
        display:none;
        position: absolute;
        top: 15px;
        right: 10px;
        color: #c5c5c5;
        font-size: 1.8rem;
        z-index: 1000;
    }
    ul{
        li{
            position:relative;
            overflow: hidden;
        }
    }
}

.table-box {
    display: table;
    width: 100%;
    overflow: hidden;
}

.verification-box {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5%;
    width: 100%;
    color: #fff;
}

.verification-mg {
    // display: table-cell;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    width: 125px;
    max-width: 125px;
    margin-top: 10px;
    opacity: 1;
    overflow: hidden;
    &:hover, &:focus {
        opacity: .6;
    }
}


/* web用户中心 */

#user_bar {
    background: url(../images/member/card/user_center_bg_01.png) no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    .param1, .param2 {
        display: inline-block;
    }
    .top-tiny {
        width: 110px;
        height: 110px;
        border-radius: 100%;
        background-color: #a9eccc;
        img {
            border-radius: 100%;
            width: 100px;
            height: 100px;
            margin: 5px;
        }
    }
    .param2 {
        color: #fff;
        vertical-align: middle;
        dd {
            span {
                color: #ffe400;
                display:block;
            }
        }
    }
}

.check-QR {
    display: block;
    color: #fff;
    border-radius: 20px;
    width: 60%;
    height: 40px;
    margin: 10px auto 15px;
    padding: 10px 12px;
    text-align:center;
    background-image: linear-gradient(to right, #4cd965 0, #3ccdb0 100%);
    background-image: -webkit-linear-gradient(left, #4cd965 0, #3ccdb0 100%);
    background-image: -moz-linear-gradient(left, #4cd965 0, #3ccdb0 100%);
    &:hover, &:focus, &:visited, &:active {
        background-image: linear-gradient(to right, #4cd965 0, #3ccdb0 100%) !important;
        background-image: -webkit-linear-gradient(left, #4cd965 0, #3ccdb0 100%) !important;
        background-image: -moz-linear-gradient(left, #4cd965 0, #3ccdb0 100%) !important;
    }
}

.pay-QR {
    width: 40%;
    margin: 25px auto 10px;
    display: block;
}

.detail-lists {
    margin: 25px 0;
    .detail-param {
        margin-bottom: 10px;
        color: #2fcc71;
        text-align: center;
        height: 44px;
        line-height: 2.2;
        @include box-shadow(0 1px 5px #bfcac5);
    }
}

.user_wrapper {
    .bottom-bg {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50%;
        background-image: linear-gradient(to bottom, #fff 0, #e4faf2 100%);
        background-image: -webkit-linear-gradient(top, #fff 0, #e4faf2 100%);
        background-image: -moz-linear-gradient(to bottom, #fff 0, #e4faf2 100%);
        z-index: -100;
    }
}


/* 历史纪录history */

.hot-wrapper {
    background-color: $themeColor;
    .topNav {
        @include displayflex;
        margin-bottom:0;
        li.nav-item {
            text-align: center;
            color: #fff;
            position: relative;
            display: block;
            padding: 10px 0;
            &:nth-of-type(1) {
                @include flex(1);
            }
            &:nth-of-type(2) {
                @include flex(1);
            }
            &:nth-of-type(3) {
                @include flex(1);
            }
            a {
                padding: 10px;
            }
            &:not(:last-child) {
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: #fff;
                }
            }
            span {
                color: #fff;
            }
            .item, .option {
                .qi-iconfont {
                    padding: 0 5px;
                }
            }
            .select-lump {
                position: absolute;
                left: 0;
                right: 0;
                top: 40px;
                z-index: 50;
                color: #333;
                background-color: #fff;
                border: 1px solid #EFEFEF;
                li {
                    width: 100%;
                    display: block;
                    padding: 10px 0;
                    &:not(:last-child){
                        border-bottom: 1px solid #dcdcdc;
                    }
                }
                .option.active {
                    background-color: $themeColor;
                    color: #fff;
                }
            }
            em {
                position: relative;
                width: 30px;
                height: 30px;
                padding-left: 5px;
                line-height: 1.2;
            }
            .nav_drowdown-arrow {
                position: absolute;
                left: 0;
                font-size:1.8rem;
                transition-duration: 0.3s;
                transition-property: all;
            }
        }
    }
    .show-nav {
        .nav_drowdown-arrow {
            @include transform(rotate(180deg));
        }
    }
}

.record-wrap{
    background-color: #f2f2f2;
}
.record-lists{
    .lump-box{
        margin-bottom:5px;
        background-color: #fff;
        ul{
            padding: 10px;
        }
        li{
            padding:5px;
            color:#464646;
            display:block;
            overflow: hidden;
            .param1{
                float:left;
                width: 50%;
            }
            .param2{
                float:right;
                width: 50%;
                text-align:right;
            }
        }
        .item2{
            .param2{
                color:#f52b2b;
            }
        }
    }
}

/* 支付成功 */
.layer-wrapper{
    .success-info{
        width: 50%;
        margin: 30% auto 10%;
        text-align: center;
        img{
            width:100%;
            height:auto;
        }
        span{
            color:#ffa800;
            font-size:1.8rem;
            margin:20px 0;
            em{
                color:#787878;
                display:block;
                font-size:1.4rem;
                margin-top:15px;
                white-space:nowrap;
            }
        }

    }
    .bind-finish{
        width:40%;
        margin: 25% auto 15%;
    }
    .btn-original{
        opacity:1;
    }
}

/* layer */
.layermmain{
        font-family: 微软雅黑, 方正兰亭纤黑简体, Helvetica, Arial, sans-serif !important;
}
.layermbtn{
    span{
        color:#333;
    }
}

.error-tip{
    color: #f52c2c;
    font-size: 1.2rem;
    float: right;
}