/* reset */

html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body{line-height: 1; text-align: left; }
:focus {outline: 0; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content:''; content: none; }
ins {text-decoration: none; }
mark {background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del {text-decoration: line-through; }
table {border-collapse: collapse; border-spacing: 0; }
input, select {vertical-align: middle; }

/* 通用类 */

.clear {zoom: 1; }
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }


/* 主体框架 */

html {width: 100%; height: 100%; }
body {width: 100%; height: 100%; background: url(../images/textura.png) repeat; text-align: center; font-size: 14px; font-family: Calibri, times, Arial, sans-serif; color: #fff; }
a {text-decoration: none; color: #fff; }

#wrapper {display: none; width: 980px; margin: 0 auto; text-align: left; }
.container {position: relative; width: 980px; height: 500px; margin-bottom: 20px; overflow: hidden;
    -webkit-transform: translateY(-590px);
    -moz-transform: translateY(-590px);
    -o-transform: translateY(-590px);
    transform: translateY(-590px);
    -webkit-animation: animationsDownUp 1s linear 1s forwards;
    -moz-animation: animationsDownUp 1s linear 1s forwards;
    -o-animation: animationsDownUp 1s linear 1s forwards;
    animation: animationsDownUp 1s linear 1s forwards;
}
.children {position: absolute; height: 500px; overflow: hidden; }
.title {float: left; width: 50px; height: 500px; background: url(../images/title-sprite.png) no-repeat; cursor: pointer; }
.title img {width: 50px; }
.content {float: left; width: 700px; height: 470px; padding: 15px; }
 
#profile {top: 0; left: 0px; z-index: 10; background: #ff9900; }
#profile .title {background-position: 0 0; }
#skills {top: 0; left: 780px; z-index: 20; background: #d46a15; }
#skills .title {background-position: -50px 0; }
#experience {top: 0; left: 830px; z-index: 30; background: #bf4c24; }
#experience .title {background-position: -100px 0; }
#works {top: 0; left: 880px; z-index: 40; background: #789b2e; }
#works .title {background-position: -150px 0; }
#contact {top: 0; left: 930px; z-index: 50; background: #26adf5; }
#contact .title {background-position: -200px 0; }

.header {width: 980px; height: 90px;
    
    -webkit-animation: animationsDownUp 1s linear;
    -moz-animation: animationsDownUp 1s linear;
    -o-animation: animationsDownUp 1s linear;
    animation: animationsDownUp 1s linear;
}

@-webkit-keyframes animationsDownUp {

            0% {-webkit-transform: translateY(-150px); opacity: 0; }
            40% {-webkit-transform: translateY(0); opacity: 1; }
            50% {-webkit-transform: translateY(-20px); }
            60% {-webkit-transform: translateY(0); }
            70% {-webkit-transform: translateY(-10px); }
            80% {-webkit-transform: translateY(0); }
            90% {-webkit-transform: translateY(-4px); }
            100% {-webkit-transform: translateY(0); }
}

@-moz-keyframes animationsDownUp {

            0% {-moz-transform: translateY(-150px); opacity: 0; }
            40% {-moz-transform: translateY(0); opacity: 1; }
            50% {-moz-transform: translateY(-20px); }
            60% {-moz-transform: translateY(0); }
            70% {-moz-transform: translateY(-10px); }
            80% {-moz-transform: translateY(0); }
            90% {-moz-transform: translateY(-4px); }
            100% {-moz-transform: translateY(0); }
}

@-o-keyframes animationsDownUp {

            0% {-o-transform: translateY(-150px); opacity: 0; }
            40% {-o-transform: translateY(0); opacity: 1; }
            50% {-o-transform: translateY(-20px); }
            60% {-o-transform: translateY(0); }
            70% {-o-transform: translateY(-10px); }
            80% {-o-transform: translateY(0); }
            90% {-o-transform: translateY(-4px); }
            100% {-o-transform: translateY(0); }
}

@keyframes animationsDownUp {

            0% {transform: translateY(-150px); opacity: 0; }
            40% {transform: translateY(0); opacity: 1; }
            50% {transform: translateY(-20px); }
            60% {transform: translateY(0); }
            70% {transform: translateY(-10px); }
            80% {transform: translateY(0); }
            90% {transform: translateY(-4px); }
            100% {transform: translateY(0); }
}

.header h2 a {display: block; padding: 15px 5px 6px 5px; font-size: 36px; font-weight: bold; font-family: Georgia, Arial, sans-serif; }
.header h3 {color: #BBB; font-size: 15px; padding-left: 5px; }

.footer p {color: #BBB; padding-bottom: 10px; padding-left: 5px; font-weight: bold; color: #fff; }
.footer .footer-author {margin-left: 8px; }


/* 欢迎 */

#welcome {background-color: #48aed4; width: 100%; height: 100%; }
#welcome h1 {position: absolute; left: 50%; top: 50%; margin-left: -300px; margin-top: -100px; color: #fff; font-size: 70px; font-family:"Microsoft YaHei", Georgia, Geneva, times; font-weight: normal; letter-spacing: 5px; text-shadow: 0 2px 2px rgba(0,0,0,.25); cursor: default; }
#welcome p {position: absolute; left: 50%; top: 50%; width: 54px; height: 10px; margin-left: -27px; background: url(../images/loading.gif) no-repeat; text-indent: -9999em; }


/* 简介 */

.about-me h2 {font-size: 20px; padding: 10px 10px 4px; }
.about-me p {padding: 10px; text-indent: 2em; line-height: 21px }

.personal-info a {display: block; padding: 1px; border-bottom: 1px dashed #FFF; }
.personal-info h2 {font-size: 20px; padding: 10px; }
.personal-info ul {width: 500px; padding: 10px; }
.personal-info ul li {width: 500px; margin-bottom: 8px; overflow: hidden; }
.personal-info ul label {float: left; width: 100px; height: 24px; padding-right: 16px; padding-left: 8px; background: #fff; color: #888; font-size: 15px; font-weight: 600; line-height: 24px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.personal-info ul span {float: right; padding: 4px; }


/* 技能 */

.skill {float: left; display: inline; margin: 40px 10px 40px 30px; }
.skill .skill-title {display: block; padding: 5px; font-size: 18px; font-weight: bold;margin-bottom: 10px; }
.skill ul {width: 310px; }
.skill ul li {width: 90px; height: 26px; margin-bottom: 10px; padding: 0 8px; background: #fff; color: #888; font-weight: 600; line-height: 26px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}
.skill ul li:hover {
    width: 140px;
}
.skill ul li span {cursor: default; white-space: nowrap;}

#skill-html {padding-right: 170px; }
#skill-css {padding-right: 170px; }
#skill-jquery {padding-right: 100px; }
#skill-ajax {padding-right: 100px; }
#skill-dom {padding-right: 70px; }
#skill-php {padding-right: 90px; }
#skill-sql {padding-right: 50px; }
#skill-c {padding-right: 90px; }
#skill-ps {padding-right: 70px; }
#skill-seo {padding-right: 70px; }
#skill-angularjs{padding-right: 130px;}
#skill-node{padding-right: 130px;}
#skill-webpack {padding-right: 130px; }
#skill-react {padding-right: 100px; }
#skill-react-native{padding-right: 120px;}
#skill-grunt {padding-right: 100px; }
#skill-npm{padding-right: 160px;}

/* 经历 */

.experience {margin-bottom: 10px; }
.experience, .expect {padding: 10px; }
.experience h2, .expect h2 {font-size: 20px; margin-bottom: 20px; }
.experience p, .expect p {text-indent: 2em; line-height: 22px; }


/* 作品 */

#works .content {padding-top: 30px; }

#works-list-title {padding: 0 0 15px 10px; }
.works-list {width: 675px; height: 445px; margin-right: 20px; overflow-y: scroll; }
.work {width: 610px; margin-bottom: 30px; overflow: hidden; zoom: 1; }
.work-info {float: left; width: 350px; margin-right: 20px; /* For IE6 double margin bug */ display: inline; }
.work-img {float: left; }
.work img {width: 230px; border: 5px solid #e2e1e0;    margin-bottom: 5px;display: block; }
.work-info h3 {padding: 0 10px 10px; font-size: 20px; }
.work-info p {padding: 0 10px; font-size: 14px; line-height: 200%; }
#wepapp img,#hebao img,.colspan img{display:inline-block;width:25%;margin-right: 3%;}
.tip_time{font-size: 16px;padding-left: 10px;margin-bottom: 20px;color: #bbb;}

/* 联系 */

.contact-me {margin-bottom: 25px; }
.contact-me h2 {font-size: 20px; padding: 10px; }
.contact-me span {padding: 5px 0 10px 10px; font-size: 16px; }
.contact-me span a {padding: 1px; border-bottom: 1px dashed #FFF; }
.my-sns {height: 200px; }
.my-sns h2 {padding: 10px; font-size: 20px; }
.sns-item {width: 350px; height: 40px; margin-bottom: 5px; padding: 5px 0 5px 10px; font-size: 13px; }
.sns-item .sns-icon.sns-icon-github{
    background:url(../images/sns-github.png) no-repeat;
}
.sns-item .sns-icon {float: left; width: 35px; height: 35px; margin-top: 2px; background: url(../images/sns-sprite.png) no-repeat;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

#sns-blog .sns-icon {background-position: 0 0; }
#sns-sina .sns-icon {background-position: -35px 0; }
#sns-tt .sns-icon {background-position: -70px 0; }
#sns-twitter .sns-icon {background-position: -105px 0; }
#sns-facebook .sns-icon {background-position: -140px 0; }
.sns-item .sns-title, .sns-item .sns-link {float: left; height: 20px; width: 300px; margin-left: 10px; }
.sns-item .sns-link a {padding: 1px; border-bottom: 1px dashed #FFF; }
.sns-title {font-size: 16px; font-weight: bold; }

.rotate {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
}